@font-face {
  font-family: ferry;
  src: url(../fonts/Ferry/2717-font.otf);
}
@font-face {
  font-family: gildoy;
  src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10px;
}

body {
  overflow-x: hidden;
  background: #0c0c0f;
  color: #e1e1e5;
  min-height: -webkit-fill-available;
  line-height: 1.01;
  font-family: "gildoy";
  font-size: 20px;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}
.container > * {
  min-width: 0;
}

main {
  padding-top: 80px;
  flex: 1 1 auto;
}

.title {
  font-family: "ferry";
  font-size: 35px;
}
@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 25px;
  }
}

.text {
  opacity: 0.9;
}
@media only screen and (max-width: 767.98px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767.98px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #0c0c0f;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #e1e1e5;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8f8f8f;
}

::-webkit-scrollbar-button {
  display: none;
}

.header {
  height: 70px;
  position: fixed;
  width: 100%;
  transition-duration: 0.3s;
  z-index: 100;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 15, 0.9);
  z-index: 2;
  transition: 0.3s;
}
.header__body {
  height: 70px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.header__logo {
  height: 30px;
  position: relative;
  z-index: 101;
  margin: 20px;
}
.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 30px;
}

.menu {
  z-index: 100;
}
.menu__burger {
  display: none;
}
.menu__list {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.menu__item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 900;
}
.menu__link {
  color: #e1e1e5;
  font-family: "ferry";
  font-size: 20px;
}

.sub-menu {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  transition: 0.2s;
}
.sub-menu__list {
  cursor: default;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -5px;
  top: 70px;
  color: #0c0c0f;
  background: #e1e1e5;
  max-height: 0px;
  transition: max-height 0.3s linear;
  border-radius: 10px;
  padding: 10px 5px;
  transition: 0.2s;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 200px;
}
.sub-menu__list.active {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}
.sub-menu__link {
  color: #0c0c0f;
  white-space: nowrap;
  padding: 10px;
  transition: 0.2s;
  font-family: "ferry";
}
.sub-menu__btn {
  padding-top: 4px;
  transition: 0.2s;
  display: flex;
}
.sub-menu__arrow {
  transform: rotate(90deg);
  pointer-events: none;
}
.sub-menu__btn.active .sub-menu__arrow {
  transform: rotate(0deg);
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
  .menu__burger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    margin: 20px;
    z-index: 3;
  }
  .menu__burger::after, .menu__burger::before, .menu__line {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 8px;
    background: #e1e1e5;
    transition: 0.2s;
  }
  .menu__burger::after {
    top: 0px;
  }
  .menu__burger.active::after {
    transform: translateY(11px) rotate(45deg);
  }
  .menu__burger::before {
    bottom: 0;
  }
  .menu__burger.active::before {
    transform: translateY(-11px) rotate(-45deg);
  }
  .menu__line {
    top: 11px;
  }
  .menu__burger.active .menu__line {
    transform: translateY(0px) rotate(0deg) scalex(0);
  }
  .menu__body {
    position: fixed;
    right: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    padding: 80px 0 0 0;
    background: rgba(12, 12, 15, 0.9);
    transition: 0.3s;
  }
  .menu__body.active {
    top: 0;
  }
  .menu__list {
    display: block;
    width: 100%;
  }
  .menu__item {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    text-align: center;
    z-index: 100;
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 0px 20px 20px;
  }
  .sub-menu.active {
    background: #e1e1e5;
  }
  .sub-menu.active .sub-menu__btn {
    background: none;
    color: #0c0c0f;
    padding-bottom: 10px;
  }
  .sub-menu__list {
    background: none;
    transition: 0.2s;
    transition: max-height 0.2s linear;
    visibility: hidden;
    position: relative;
    left: 0;
    top: 0px;
    max-height: 0;
    opacity: 0;
    padding: 0;
    gap: 0;
  }
  .sub-menu__list.active {
    visibility: visible;
    max-height: 300px;
  }
  .sub-menu__btn {
    padding-top: 0px;
  }
  .sub-menu__link {
    color: #0c0c0f;
    display: block;
    white-space: nowrap;
    border-radius: 10px;
    padding: 5px;
  }
  .sub-menu__link:hover {
    color: #0c0c0f;
    background: #e1e1e5;
  }
}
.footer {
  padding: 20px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 479.98px) {
  .footer__body {
    font-size: 18px;
  }
}
.footer__links {
  display: flex;
  gap: 10px;
}
.footer__link {
  color: #e1e1e5;
  transition: 0.2s;
  border-bottom: 4px solid transparent;
}
.footer__link:hover {
  border-bottom: 4px solid #e1e1e5;
  letter-spacing: 1px;
}
.footer__icon {
  color: #e1e1e5;
  transition: 0.2s;
  display: none;
  font-size: 25px;
}
@media only screen and (max-width: 767.98px) {
  .footer__icon {
    font-size: 20px;
  }
}
.footer__link:hover {
  border-bottom: 4px solid #e1e1e5;
}
@media only screen and (max-width: 767.98px) {
  .footer__link {
    display: none;
  }
  .footer__icon {
    display: inline-block;
  }
}

::-moz-selection {
  color: #0c0c0f;
  background: #e1e1e5;
}

::selection {
  color: #0c0c0f;
  background: #e1e1e5;
}

.loader {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0c0c0f;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  border-radius: 50px;
  width: 50%;
  height: 120%;
  background: #e1e1e5;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) ease-in-out;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }
  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.35%));
  }
}
.about {
  min-height: calc(100svh - 80px);
  height: calc(100svh - 80px);
  max-height: 2000px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.about__body {
  display: flex;
  align-items: center;
  gap: 50px;
}
.about__description {
  height: 400px;
  padding: 20px;
}
.about__title {
  padding-bottom: 20px;
}
.about__text {
  opacity: 0.8;
}
.about__img {
  height: 400px;
  width: 400px;
  position: relative;
  margin-right: 20px;
}
.about__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.about__img_1 {
  z-index: 2;
  animation: CTA-glitch 10s infinite step-end;
}
.about__img_1.active {
  animation: none;
}

.about__switch {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  z-index: 10;
  background: #0c0c0f;
  overflow: hidden;
  cursor: pointer;
}
.about__switch.active .about__icon {
  transform: translateY(-37px);
}
.about__icon {
  margin: 2px;
  width: 30px;
  height: 30px;
  color: #e1e1e5;
  transition: 0.2s;
}

@media screen and (max-width: 767.98px) and (max-width: 991.98px) {
  .about__body {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
  }
  .about__description {
    height: auto;
  }
  .about__title {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767.98px) {
  .about__body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
  }
  .about__description {
    height: auto;
    padding: 30px;
    margin-top: -50px;
  }
  .about__title {
    padding-bottom: 20px;
  }
  .about__img {
    height: 300px;
    width: 300px;
    position: relative;
    margin-right: 0px;
  }
}
@keyframes CTA-glitch {
  10% {
    clip: rect(438px, 9999px, 459px, 0);
    left: -4%;
  }
  10.5% {
    clip: rect(279px, 9999px, 294px, 0);
    left: -4%;
  }
  11% {
    clip: rect(448px, 9999px, 449px, 0);
    left: -4%;
  }
  11.5% {
    clip: rect(301px, 9999px, 345px, 0);
    left: -2%;
  }
  12% {
    clip: rect(466px, 9999px, 526px, 0);
    left: -1%;
  }
  12.5% {
    clip: rect(263px, 9999px, 296px, 0);
    left: -4%;
  }
  13% {
    clip: rect(174px, 9999px, 268px, 0);
    left: 4%;
  }
  13.5% {
    clip: rect(100px, 9999px, 167px, 0);
    left: 2%;
  }
  14% {
    clip: rect(308px, 9999px, 311px, 0);
    left: 5%;
  }
  14.5% {
    clip: rect(131px, 9999px, 147px, 0);
    left: -1%;
  }
  15% {
    clip: rect(54px, 9999px, 92px, 0);
    left: -1%;
  }
  15.5% {
    clip: rect(341px, 9999px, 421px, 0);
    left: 3%;
  }
  16% {
    clip: rect(354px, 9999px, 394px, 0);
    left: 5%;
  }
  16.5% {
    clip: rect(260px, 9999px, 360px, 0);
    left: -1%;
  }
  17% {
    clip: rect(9px, 9999px, 29px, 0);
    left: 1%;
  }
  17.5% {
    clip: rect(264px, 9999px, 322px, 0);
    left: 0%;
  }
  18% {
    clip: rect(51px, 9999px, 142px, 0);
    left: -1%;
  }
  18.5% {
    clip: rect(105px, 9999px, 151px, 0);
    left: -4%;
  }
  19% {
    clip: rect(204px, 9999px, 237px, 0);
    left: -4%;
  }
  19.5% {
    clip: rect(298px, 9999px, 317px, 0);
    left: 5%;
  }
  20% {
    clip: rect(60px, 9999px, 60px, 0);
  }
  20.5% {
    clip: rect(438px, 9999px, 459px, 0);
    left: -4%;
  }
  21% {
    clip: rect(279px, 9999px, 294px, 0);
    left: -4%;
  }
  21.5% {
    clip: rect(448px, 9999px, 449px, 0);
    left: -4%;
  }
  22% {
    clip: rect(301px, 9999px, 345px, 0);
    left: -2%;
  }
  22.5% {
    clip: rect(466px, 9999px, 526px, 0);
    left: -1%;
  }
  23% {
    clip: rect(263px, 9999px, 296px, 0);
    left: -4%;
  }
  23.5% {
    clip: rect(174px, 9999px, 268px, 0);
    left: 4%;
  }
  24% {
    clip: rect(100px, 9999px, 167px, 0);
    left: 2%;
  }
  24.5% {
    clip: rect(308px, 9999px, 311px, 0);
    left: 5%;
  }
  25% {
    clip: rect(131px, 9999px, 147px, 0);
    left: -1%;
  }
  25.5% {
    clip: rect(54px, 9999px, 92px, 0);
    left: -1%;
  }
  26% {
    clip: rect(341px, 9999px, 421px, 0);
    left: 3%;
  }
  26.5% {
    clip: rect(354px, 9999px, 394px, 0);
    left: 5%;
  }
  27% {
    clip: rect(204px, 9999px, 254px, 0);
    left: -1%;
    visibility: hidden;
  }
  43.5% {
    opacity: 0.5;
    clip: auto;
    visibility: visible;
    left: -10px;
  }
  44% {
    clip: rect(135px, 999px, 260px, 0px);
    left: -15px;
  }
  44.5% {
    clip: rect(135px, 999px, 260px, 0px);
    left: 0;
  }
  45% {
    clip: auto;
    left: -20px;
    -webkit-filter: hue-rotate(90deg) saturate(1.3);
  }
  45.5% {
    left: 0px;
    -webkit-filter: invert(1);
  }
  46% {
    clip: rect(308px, 9999px, 311px, 0);
    left: 15%;
  }
  46.5% {
    clip: rect(131px, 9999px, 147px, 0);
    left: -11%;
    transform: scale(1.1);
  }
  47% {
    clip: rect(54px, 9999px, 92px, 0);
    left: -11%;
    transform: scale(1.2);
  }
  47.5% {
    clip: rect(341px, 9999px, 421px, 0);
    left: 13%;
    transform: scale(1.3);
    -webkit-filter: invert(0);
  }
  48% {
    clip: rect(354px, 9999px, 394px, 0);
    left: 15%;
    transform: scale(1.1);
  }
  48.5% {
    clip: rect(260px, 9999px, 360px, 0);
    left: -11%;
    transform: scale(1.2);
    -webkit-filter: none;
  }
  49% {
    clip: rect(9px, 9999px, 29px, 0);
    left: 11%;
    transform: scale(1.3);
  }
  49.5% {
    clip: rect(264px, 9999px, 322px, 0);
    left: 0%;
    transform: scale(1.1);
  }
  50% {
    clip: rect(51px, 9999px, 142px, 0);
    left: -11%;
  }
  50.5% {
    clip: rect(105px, 9999px, 151px, 0);
    left: -14%;
    transform: scale(1.2);
  }
  51% {
    clip: rect(279px, 9999px, 294px, 0);
    left: -14%;
  }
  51.5% {
    clip: rect(448px, 9999px, 449px, 0);
    left: -14%;
  }
  52% {
    clip: rect(301px, 9999px, 345px, 0);
    left: -12%;
    transform: scale(1.1);
  }
  52.5% {
    clip: rect(466px, 9999px, 526px, 0);
    left: -11%;
    transform: scale(1.3);
    -webkit-filter: hue-rotate(90deg) saturate(1.3);
  }
  53% {
    clip: rect(263px, 9999px, 296px, 0);
    left: -14%;
    transform: scale(1.1);
  }
  53.5% {
    clip: rect(174px, 9999px, 268px, 0);
    left: 14%;
    transform: scale(1.3);
  }
  54% {
    clip: rect(100px, 9999px, 167px, 0);
    left: 12%;
    transform: scale(1.1);
    -webkit-filter: none;
  }
  54% {
    background-image: none;
  }
  71% {
    clip: rect(438px, 9999px, 459px, 0);
    left: -4%;
  }
  71.5% {
    clip: rect(279px, 9999px, 294px, 0);
    left: -4%;
  }
  72% {
    clip: rect(448px, 9999px, 449px, 0);
    left: -4%;
  }
  72.5% {
    clip: rect(301px, 9999px, 345px, 0);
    left: -2%;
  }
  73% {
    clip: rect(466px, 9999px, 526px, 0);
    left: -1%;
  }
  73.5% {
    clip: rect(263px, 9999px, 296px, 0);
    left: -4%;
  }
  74% {
    clip: rect(174px, 9999px, 268px, 0);
    left: 4%;
  }
  74.5% {
    clip: rect(100px, 9999px, 167px, 0);
    left: 2%;
  }
  75% {
    clip: rect(308px, 9999px, 311px, 0);
    left: 5%;
  }
  75.5% {
    clip: rect(131px, 9999px, 147px, 0);
    left: -1%;
  }
  76% {
    clip: rect(54px, 9999px, 92px, 0);
    left: -1%;
  }
  76.5% {
    clip: rect(341px, 9999px, 421px, 0);
    left: 3%;
  }
  77% {
    clip: rect(354px, 9999px, 394px, 0);
    left: 5%;
  }
  77.5% {
    clip: rect(260px, 9999px, 360px, 0);
    left: -1%;
  }
  78% {
    clip: rect(9px, 9999px, 29px, 0);
    left: 1%;
  }
  78.5% {
    clip: rect(264px, 9999px, 322px, 0);
    left: 0%;
  }
  79% {
    clip: rect(51px, 9999px, 142px, 0);
    left: -1%;
  }
  79.5% {
    clip: rect(105px, 9999px, 151px, 0);
    left: -4%;
  }
  80% {
    clip: rect(204px, 9999px, 237px, 0);
    left: -4%;
    background-image: url(https://res.cloudinary.com/dilgjzsjl/image/upload/v1498571436/goldsmiths/joinus.png);
  }
  80.5% {
    clip: rect(298px, 9999px, 317px, 0);
    left: 5%;
  }
  81% {
    clip: rect(438px, 9999px, 459px, 0);
    left: -4%;
  }
  81.5% {
    clip: rect(279px, 9999px, 294px, 0);
    left: -4%;
  }
  82% {
    clip: rect(448px, 9999px, 449px, 0);
    left: -4%;
  }
  82.5% {
    clip: rect(301px, 9999px, 345px, 0);
    left: -2%;
  }
  83% {
    clip: none;
    left: 0;
  }
}
.gallery {
  padding-bottom: 20px;
}
.gallery__title {
  padding: 20px;
}
.gallery__item {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  width: 100%;
  z-index: 2000;
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.gallery .item__zoom {
  z-index: 2;
  position: absolute;
  color: #0c0c0f;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
  background: hsla(0, 0%, 100%, 0.488);
}
@media only screen and (max-width: 767.98px) {
  .gallery .item__zoom {
    opacity: 1;
  }
}
.gallery__item:hover .item__zoom {
  opacity: 1;
  transition: 0.3s;
}
.gallery__item_big:hover .item__zoom {
  opacity: 1;
  transition: 0.3s;
}

.gallery .swiper-container {
  padding-bottom: 100px;
  position: relative;
}
.gallery .swiper-slide {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
@media only screen and (max-width: 767.98px) {
  .gallery .swiper-slide {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 479.98px) {
  .gallery .swiper-slide {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.gallery .swiper-pagination {
  z-index: -1;
  position: absolute;
  top: -60px;
  right: 0;
  text-align: right;
  padding: 20px;
  font-size: 30px;
}
@media only screen and (max-width: 767.98px) {
  .gallery .swiper-pagination {
    top: calc(100% - 80px);
    text-align: center;
  }
}
.gallery .swiper-button-prev,
.gallery .swiper-button-next {
  color: #e1e1e5;
  position: absolute;
  top: calc(100% - 50px);
  align-items: end;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}
.gallery .swiper-button-prev {
  left: 20px;
}
.gallery .swiper-button-next {
  right: 20px;
}

.popup {
  opacity: 0;
}
.popup.active {
  opacity: 1;
  pointer-events: visible;
}
.popup .inner {
  padding: 15px;
  background: #0c0c0f;
  min-width: 320px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.popup .close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup .close path {
  fill: #fff;
}

.popup {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  pointer-events: none;
}
.popup__title {
  line-height: 1;
}
.popup__networks {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup__link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.popup__icon {
  height: 30px;
  width: 30px;
  padding: 2.5px;
  color: #0c0c0f;
  border-radius: 5px;
}
.popup__social {
  font-size: 20px;
  color: #e1e1e5;
}

.instagram svg {
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
}

.gmail svg {
  background: conic-gradient(#4285f4, #4285f4, #db4437, #db4437, #f4b400, #f4b400, #0f9d58, #0f9d58, #4285f4);
}

.telegram svg {
  background: #0077b5;
}

.facebook svg {
  background: #4267B2;
}

.skills {
  padding: 20px;
}
.skills__title {
  padding-bottom: 20px;
}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 30px;
}
@media only screen and (max-width: 479.98px) {
  .skills__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.skills__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills__top {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 479.98px) {
  .skills__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.skills__row {
  display: flex;
  align-items: center;
}
.skills__logo {
  min-height: 50px;
  min-width: 50px;
  position: relative;
}
.skills__logo.logo-png {
  background: #e1e1e5;
  border-radius: 10px;
}
.skills__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills__logo.logo-png img {
  padding: 7px;
}
.skills__name {
  text-align: center;
  padding: 0 20px;
}
.skills__progressbar {
  width: 100%;
  height: 5px;
  background: rgba(225, 225, 229, 0.5);
  position: relative;
  border-radius: 10px;
}
.skills__progressbar::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: -2.5px;
  left: 0;
  width: var(--width-progress);
  height: 10px;
  background: #e1e1e5;
}
.skills__description {
  opacity: 0.8;
  font-size: 16px;
}

.story {
  padding: 20px;
}
.story__title {
  padding-bottom: 20px;
}
.story__text {
  opacity: 0.8;
}