.footer {
   &__body {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      @media only screen and (max-width:$mobileSmall) {
         font-size: 18px;
      }
   }
   &__links {
      display: flex;
      gap: 10px;
   }
   &__link {
      color: $white;
      transition: .2s ;
      border-bottom:4px solid transparent ;
   }
   &__link:hover{
      border-bottom:4px solid $white ;
      letter-spacing: 1px;
   }
   &__icon {
      color: $white;
      transition: .2s ;
      display: none;
      font-size: 25px;
      @media only screen and (max-width:$mobile) {
         font-size: 20px;
      }
   }
   &__link:hover{
      border-bottom:4px solid $white ;
   }
   @media only screen and (max-width:$mobile) {
      &__link {
         display: none;
      }
      &__icon {
         display: inline-block;
      }
   }
}
