// import fonts/font <=>
@font-face {
   font-family: ferry;
   src: url(../fonts/Ferry/2717-font.otf);
}
@font-face {
   font-family: gildoy;
   src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf);
}

// default font / default font size <=>
$fontFamily: "gildoy";
$fontFamilyBlack: "ferry";
$fontSize: 20;

// base colors <=>
$black: #0c0c0f;
$white: #e1e1e5;
$mainColor1: #0E0F11;

// max width for container <=>
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1250;

// size gadjes for adapted and other <=>
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

// null style <=>
@import "_null.scss";

// general style <=>
body {
   background: $black;
   color: $white;
   min-height: -webkit-fill-available;
   line-height: 1.01;
   font-family: $fontFamily;
   font-size: $fontSize + px;
   //scroll block when open burger
   .lock & {
      overflow: hidden;
      touch-action: none;
   }
}
// wrapper <=>
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

// container <=>
.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   //fix for slider
   > * {
      min-width: 0;
   }
}

// the footer to the bottom of the page <=>
main {
   padding-top: 80px;
   flex: 1 1 auto;
}

// title  <=>
.title {
   font-family: $fontFamilyBlack;
   font-size: 30px;
   @media only screen and (max-width:$mobile) {
      font-size: 25px;
   }
}

// text  <=>
.text {
   opacity: .9;
   @media only screen and (max-width:$mobile) {
      font-size: 16px;
   }
}

// scroll bar <=>
@media only screen and (max-width:$mobile) {
   ::-webkit-scrollbar {
      display: none;
   }
}
::-webkit-scrollbar {
   width: 14px;
}
::-webkit-scrollbar-track {
   background-color: $black;
}
::-webkit-scrollbar-thumb {
   border-radius: 16px;
   background-color: $white;
}
::-webkit-scrollbar-thumb:active {
   background-color: #8f8f8f;
}
::-webkit-scrollbar-button {
   display: none;
}

// when copu text<=>
::selection {
   color: $black;
   background: $white;
}

//loading page style<=>
.loader{
   z-index: 200;
   position: absolute;
   width: 100%;
   height: 100vh; 
   background: $black;
   transition: .5s;
   display: flex;
   justify-content: center;
   align-items: center;
}
.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid $white;
   animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;
}
@keyframes spinner-bulqg1 {
   0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
   }

   12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
   }

   25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
   }

   50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
   }

   100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
   }
}
@keyframes spinner-oaa3wk {
   0% {
      transform: scaleY(1) rotate(0deg);
   }

   49.99% {
      transform: scaleY(1) rotate(135deg);
   }

   50% {
      transform: scaleY(-1) rotate(0deg);
   }

   100% {
      transform: scaleY(-1) rotate(-135deg);
   }
}

//noice effect <=>
.old {
   filter:sepia(1);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: url(../img/old-noice-effect/old.webp);
   opacity: .05;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   z-index: 300;
   pointer-events: none;
}
.noise {
   animation: grain 6s steps(10) infinite;
   background-image: url(../img/old-noice-effect/noise-full.png);
   background-repeat: repeat;
   height: 300%;
   left: -50%;
   opacity: .035;
   position: fixed;
   top: -100%;
   width: 300%;
   z-index:200;
   pointer-events: none;
}
@keyframes grain {
   0%, 100% {
     transform: translate(0, 0);
 }
 10% {
     transform: translate(-5%, -10%);
 }
 20% {
     transform: translate(-15%, 5%);
 }
 30% {
     transform: translate(7%, -25%);
 }
 40% {
     transform: translate(-5%, 25%);
 }
 50% {
     transform: translate(-15%, 10%);
 }
 60% {
     transform: translate(15%, 0%);
 }
 70% {
     transform: translate(0%, 15%);
 }
 80% {
     transform: translate(3%, 35%);
 }
 90% {
     transform: translate(-10%, 10%);
 }
}

//import scss modules<=>
@import "_header.scss";
@import "_footer.scss";
@import "_about.scss";
@import "_gallery.scss";
@import "_contacts.scss";